/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
    navItem {
        width:64px;
        height:auto;
    }
    img {
        width:64px;
        height:auto;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
    navItem {
        width:64px;
        height:auto;
        inline-style:none;
    }
    img {
        /* width:64px; */
        height:auto;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}